.card{
    background-color: #aac3ec;
    border: 1px solid #aac3ec;
    box-shadow: 1px 1px 5px #aac3ec;
    border-radius: 7px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

#container{
    border: 2px solid #97b6e9;
    box-shadow: 2px 2px 10px #97b6e9;
    border-radius: 12px;
    margin-top: .8rem;
    margin-bottom: .8rem;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}


.comment-input{

    margin: 7px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #cfdcf1;
    width: 25vw;

}

.comment-input:focus{
    outline: none;
}



.btn-send-comment{

    margin-top: 10px;
    margin-bottom: 10px;
    width: 8rem;
    height: 1.7rem;
    font-size: .7rem;
    color: #6f3d74;
    /* font-family: poppins; */
    font-weight: 600;
    border: 1px solid #6f3d74;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    border-radius: 80px;
    transition: .3s;
    background-color: #C3D5F1;

}

.btn-send-comment:hover{

    box-shadow: 0 1.9px 1.2px 0 #6f3d74 inset, 0 1.2px 1.2px 0 #6f3d74,
                0 1.9px 1.2px 0 #6f3d74 inset, 0 1.2px 1.2px 0 #6f3d74;
} 


h3{
    font-size: 1.7rem;
    margin-bottom: 3px;
}

h6{
    
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

