<div class="container">
  <h3>Title: {{ post?.title }}</h3>
  <h6>Author: {{ post?.author }}</h6>

  <label for="Author">Author: </label>
  <input
    name="Author"
    type="text"
    [(ngModel)]="newAuthor"
    placeholder="Title"
  />
  <br />

  <label for="Content">Content: </label>
  <input
    name="Content"
    type="text"
    [(ngModel)]="newContent"
    placeholder="Author"
  />
  <br />
  <button (click)="submitComment()">Send Comment</button>

  <div *ngIf="post?.comments">
    <div *ngFor="let comment of post?.comments" class="card">
      <app-single-comment [comment]="comment"></app-single-comment>
    </div>
  </div>
</div>
