#h1-principal-page{
    padding: 2.2rem;
    margin-bottom: 40px;
    background-color: #6F3D74;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 2.8rem;

}

#header-main{
    width: 100%;
    background-color: red;
    justify-content: center;
    align-content: center;
  }